<br><br><br><br>
<div class="row">
  <div class="col"></div>
  <div class="text-center">
    <h1 class="shadow-sm p-3 mb-5 bg-body rounded">IVM detailing</h1>
      <div class="image-main">
        <img src="./img/construction.png" alt="" /></div>
  </div>
  <div class="col"></div>
</div>
